* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  text-align: center;
}
.title {
  font-size: 3rem;
  margin: 0.2em 0;
}
.description {
  width: 75%;
  margin: 0 auto;
}

input {
  width: 10rem;
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}
#user-value {
  width: 5rem;
}
#odds-value::placeholder {
  font-size: 0.7rem;
  font-weight: 400;
}
#odds-value:focus::placeholder {
  color: transparent;
}

.word-in {
  font-size: 3rem;
  padding: 0 0.2em;
}
.value-container {
  width: 60%;
  max-width: 400px;
  margin: 2em auto 1em;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  padding: 1em;
}
.message {
  text-align: center;
  font-size: 0.9rem;
  margin: 0em auto 0.5em;
  transition: .3s ease-in-out;
}
#arrow {
    display: none;
}
.btn {
  display: block;
  margin: 0 auto;
  font-size: 0.8rem;
  padding: 1em;
  text-transform: uppercase;
  transition: 0.3s;
}
.hide-btn {
  display: none;
}
.show-btn {
  display: block;
}
.grid {
  width: 90%;
  border: 4px rgb(14, 68, 7) dashed;
  margin: 1em auto;
  padding: 0.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(49, 235, 225);
}
.square {
  width: 20px;
  height: 20px;
  background-color: blue;
  margin: 2px;
  transition: 0.05s ease-in-out;
  cursor: pointer;
}
.square:hover, .square:focus {
  box-shadow: 2px 2px 2px black;
  transform: scale(1.1);
}
.square:focus {
    outline: none;
}

.correct-square {
  background: red;
  width: 20px;
  height: 20px;
  animation: pulsate 0.8s 3;
}
.wrong-square {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.cross {
  width: 20%;
  height: 20%;
  background-color: yellow;
  transform: rotate(45deg);
  box-shadow: 3px 0 yellow, 6px 0 yellow, 9px 0 yellow, 12px 0 yellow,
    0 3px yellow, 0 6px yellow, 0 9px yellow, 0 12px yellow, -3px 0 yellow,
    -6px 0 yellow, -9px 0 yellow, -12px 0 yellow, 0 -3px yellow, 0 -6px yellow,
    0 -9px yellow, 0 -12px yellow;
}

@keyframes pulsate {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
